.about-page {
  > .container {
    display: flex;
    .left-nav {
      height: calc(100vh - 65px);
      width: 300px;
      padding: 16px 0;
      background-color: #fff;
      border-right: 1px solid #f1f1f1;
      .menu-item {
        display: block;
        padding: 12px 0;
        border-right: 4px solid transparent;
        color: #777777;
        text-align: center;
        &.active {
          background-color: rgba($color: #1890ff, $alpha: 0.2);
          border-right: 4px solid #1890ff;
          color: rgba($color: #1890ff, $alpha: 1.0);
        }
        &:hover {
          color: $blue;
        }
      }
    }
    .right-content {
      flex-grow: 1;
      background-color: #fff;
      padding: 24px 32px;
    }
  }
}