.container {
  padding-top: 32px;
  @media screen and (min-width: 768px) {
    width: 800px;
    margin: 0 auto;
  }
}

.cateItem {
  position: relative;
  padding: 0 32px 16px 32px;
  h3 {
    text-transform: capitalize;
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #f3f3f3;
    height: 1px;
    width: 100%;
  }
  &:last-child:after {
    display: none;
  }
}

.cateItemChild {
  margin: 8px 0;
  a {
    color: #41a6de;
  }
}