.container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.postList {
  padding: 32px 0 16px 0;
  width: 800px;
  min-height: calc(100vh - 80px);
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.item {
  padding: 16px 32px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    background-color: #e6e6e6;
    height: 1px;
    width: 90%;
    transform: translateX(-50%);
  }
  &:last-child:after {
    display: none;
  }
}

.itemBaseInfo {
  display: flex;
  align-items: center;
  .title {
    margin: 0;
    cursor: pointer;
    h3 {
      color: #535353;
      margin: 8px 0;
      font-weight: 500;
      &:hover {
        color: #3498DB;
      }
    }
  }
}

.itemMoreInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #b3b3b3;
  padding: 4px 0 0 0;
  font-size: 13px;
  .date {
    display: flex;
    .dateIcon {
      display: flex;
      align-items: center;
    }
    .dateText {
      margin-left: 4px;
    }
  }
  .author {
    margin-left: 8px;
    .authorContainer {
      display: flex;
    }
    .authorIcon {
      display: flex;
      align-items: center;
    }
    .authorText {
      margin-left: 4px;
      cursor: pointer;
      &:hover {
        color: #41a6de;
        text-decoration: underline;
      }
    }
    a {
      text-decoration: none;
      color: #414349;
      &:hover {
        color: #3498DB;
      }
    }
  }
  .category {
    display: flex;
    margin-left: 8px;
    .cateIcon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .cateText {
      margin-left: 4px;
      text-transform: uppercase;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  color: #c5c5c5;
  padding-top: 8px;
  max-width: 100%;
  cursor: pointer;
  .tagIcon {
    display: flex;
    align-items: center;
  }
  .tag {
    display: inline-block;
    margin: 4px;
    &:hover {
      color: #41a6de;
      text-decoration: underline;
    }
  }
}
