.container {
  background-color: #ffffff;
}

.main {
  z-index: 1;
  position: relative;
  min-height: calc(100vh - 60px);
}

.footer {
  width: 100%;
  z-index: 0;
  height: 60px;
  color: #2c2c2c;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
}