.PhotoPage {
  background-color: #222222;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  filter: blur(.8);
  .PhotoPage-Container {
    max-width: 1000px;
    margin: 0 auto;
  }
}