.admin-log-page {
  height: 100%;
  .container {
    height: calc(100vh - 150px);
    display: flex;
    overflow-y: scroll;
    .viewer {
      // #url { width: 600px !important; }
      #method { width: 80px; }
      #status { width: 80px; }
    }
    a:hover {
      color: $blue;
    }
  }
}