@import '../../static/styles/color.scss';

$width: 1120px;

.Gallery {
  .Gallery-Navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    animation: pullLeftToRight .5s;
    background-color: $gray-10;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      list-style: none;
      font-size: 30px;
      text-align: center;
      margin: 0;
      padding: 0;
      li {
        margin: 20px 0;
        a {
          color: $gray-7;
          text-decoration: none;
          &:hover {
            color: $gray-5;
          }
        }
      }
    }
  }
  .Gallery-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .Gallery-Container__Cover {
      width: 100%;
      position: relative;
      .gallery-menu {
        position: absolute;
        top: 20px;
        left: 0;
        z-index: 3;
      }
      img {
        width: 100%;
        object-fit: cover;
      }
      .moto {
        font-size: 50px;
        color: $gray-5;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        opacity: .75;
      }
    }
    .Gallery-Container__Masonry {
      margin: 20px auto;
      position: relative;
    }
  }
  .Gallery-FloatPanel {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: rgba(0,0,0,1);
    .Gallery-FloatPanel__close {
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 30px;
      color: #d1d1d1;
      cursor: pointer;
      &:hover {
        color: #717171;
      }
    }
    .Gallery-FloatPanel__image {
      max-width: 90%;
      position: relative;
      img {
        max-width: 100%;
        max-height: 800px;
        border-radius: 5px;
      }
      .Gallery-FloatPanel__image-info {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all .5s ease-in-out;
        cursor: pointer;
        .Gallery-FloatPanel__image-info__item {
          opacity: 0;
          position: absolute;
          right: 50px;
          bottom: 20px;
          text-align: right;
        }
      }
    }
  }
  .Gallery-FloatPanel.Desktop {
    .Gallery-FloatPanel__prev,.Gallery-FloatPanel__next {
      color: #d1d1d1;
      font-size: 150px;
      cursor: pointer;
      opacity: 0;
      transition: all .3s ease-in;
      &:hover {
        opacity: 1;
      }
    }
    .Gallery-FloatPanel__image-info {
      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.2);
        .Gallery-FloatPanel__image-info__item {
          color: #d1d1d1;
          opacity: 1;
        }
      }
    }
  }
  .Gallery-FloatPanel.Mobile {
    .Gallery-FloatPanel__close {
      top: 10px;
      margin: 0 auto;
    }
    .Gallery-FloatPanel__image {
      max-width: 98%;
      display: block;
    }
    .Gallery-FloatPanel__image-info {
      background-color: rgba($color: #000000, $alpha: 0.2);
      font-size: .8rem;
      .Gallery-FloatPanel__image-info__item {
        opacity: 1;
        transition: all .3s ease-in-out;
        position: absolute;
        right: 20px;
        bottom: 10px;
        color: #d1d1d1;
        p {
          margin: 10px 0;
        }
      }
    }
  }
}

.masonry__item {
  background-color: transparent;
  border-radius: 0px;
  cursor: pointer;
}

@keyframes pullLeftToRight {
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}