.card {
  border-radius: 20px;
}

.mask {
  position: fixed;
  background-color: $mask;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}

/***********************************************/
.no-scroll-bar::-webkit-scrollbar {
  display: none;
}