.mint-button {
  margin: 5px;
  padding: 5px 10px;
  background-color: inherit;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid #333333;
  font-size: 10px;
  color: inherit;
  &:hover {
    opacity: .65;
  }
  &:focus {
    outline: none;
  }
  &:active {
    // outline: 3px solid rgba($color: #fff, $alpha: .65);
    box-shadow: 0 0 0 5px rgba($color: #fff, $alpha: .25);
  }
  &-small {
    padding: 2px 8px;
    margin: 0;
  }
}
.mint-button-primary {
  border: 1px solid $primary;
  color: #ffffff;
  background-color: $primary;
}
.mint-button-danger {
  border: 1px solid $red;
  color: #ffffff;
  background-color: $red;
}
.mint-button-success {
  border: 1px solid $green;
  color: #ffffff;
  background-color: $green;
}