@import '../../static/styles/color.scss';

.mint-button {
  margin: 5px;
  padding: 5px 10px;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid #515151;
  font-size: 10px;
  &:hover {
    opacity: .65;
  }
  &:focus {
    outline: none;
  }
  &:active {
    // outline: 3px solid rgba($color: #fff, $alpha: .65);
    box-shadow: 0 0 0 5px rgba($color: #fff, $alpha: .25);
  }
}
.mint-button-primary {
  color: #fff;
  background-color: #000;
}
.mint-button-danger {
  color: #fff;
  background-color: $red;
  border: none;
}