$width: 34px;
$height: 32px;
$sqrt: 45px;

.mint-menu-button {
  width: $width;
  height: $height;
  .line {
    height: 2px;
    width: 100%;
    background-color: inherit;
    transition: all .4s cubic-bezier(.64,.05,.41,1.06);
    &.first {
      transform-origin: 0px 1px;
    }
    &.second {
      position: relative;
      top: 14px;
    }
    &.third {
      position: relative;
      top: 28px;
      transform-origin: 0px 1px;
    }
  }
}

.mint-menu-button.open {
  .line.first {
    transform: rotate(44deg);
    width: $sqrt;
  }
  .line.second {
    opacity: 0;
  }
  .line.third {
    transform: rotate(-44deg);
    width: $sqrt;
  }
}