.mint-editor {
  border: 1px solid #f1f1f1;
  .mint-editor-container {
    min-height: 500px;
    padding: 8px 16px;
    .block-item-container {
      display: flex;
      align-items: center;
      padding: 4px 8px;
      margin: 8px 0;
      &:hover {
        background-color: #f5f5f5;
        .block-item-edit {
          visibility: visible;
        }
      }
    }
  }
}