.Homepage {
  &.theme-night {
    padding-top: 1px;
    .Article {
      * { color: #a1a1a1 !important; }
      .ArticleList__item {
        background-color: #222222;
      }
    }
  }
}

.Article {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  .ArticleList {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    .ArticleList__item {
      background-color: #fff;
      .ArticleList__item--Cover {
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          cursor: pointer;
        }
      }
      .ArticleList__item--Info {
        flex-grow: 1;
        position: relative;
        height: 220px;
        padding: 20px;
        .ArticleList__item--Info__datetime {
          font-size: 13px;
        }
        .ArticleList__item--Info__title {
          margin: 10px 0;
          font-weight: 1000;
          font-size: 20px;
          cursor: pointer;
          a {
            color: #000;
            &:hover {
              color: $red;
            }
          }
        }
        .ArticleList__item--Info__author {
          position: absolute;
          bottom: 20px;
          display: flex;
          align-items: center;
          .ArticleList__item--Info__author-avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
          .ArticleList__item--Info__author-name {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .Article__LoadMore {
    margin: 20px auto;
    width: 940px;
  }
}

.Article.Desktop {
  .ArticleList {
    max-width: 1000px;
    margin-top: 10px;
    min-height: 600px;
    .ArticleList__item {
      width: 323px;
      height: 450px;
      margin: 5px;
      .ArticleList__item--Cover {
        height: 240px;
        transition: height .5s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover {
          height: 230px;
        }
      }
      .ArticleList__item--Info {
        padding: 10px 20px;
        .ArticleList__item--Info__title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .ArticleList__item--Info__desc {
          margin: 10px 0;
          line-height: 1.5;
          height: 75px;
          overflow: hidden;
          color: #717171;
        }
        .ArticleList__item--Info__author {
          position: static;
          a {
            color: #000;
          }
        }
      }
    }
  }
}

.Article.Mobile {
  .ArticleList {
    width: 100%;
    margin-top: 0px;
    .ArticleList__item {
      width: 100%;
      height: 300px;
      margin: 5px;
      .ArticleList__item--Cover {
        height: 180px;
        img {
          height: 100%;
        }
      }
      .ArticleList__item--Info {
        .ArticleList__item--Info__desc {
          display: none;
        }
        height: 120px;
        padding: 10px 20px;
        .ArticleList__item--Info__author {
          bottom: 10px;
          a {
            color: #000;
          }
        }
      }
    }
  }
  .Article__LoadMore {
    width: 94%;
  }
}
