.home-container.desktop {
  .home-carousel {
    .mint-carousel {
      width: 700px;
      height: 400px;
      border-radius: 8px !important;
    }
  }
  .article-list {
    max-width: 1000px;
    margin-top: 10px;
    .header {
      width: 100%;
      padding: 16px 0 12px 12px;
      margin-top: 20px;
      position: relative;
      &::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 12px;
        width: 98%;
        height: 4;
        border-top: 4px solid #777777;
      }
    }
    .article-list-item {
      width: 234px;
      height: 200px;
      margin: 8px;
      position: relative;
      transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
      border-radius: 8px;
      overflow: hidden;
      .cover {
        height: 200px;
        a {
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
          }
        }
      }
      .infos {
        width: 100%;
        display: block;
        padding: 10px 20px;
        position: absolute;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.75);
        * {
          color: #f1f1f1 !important;
        }
        .datetime {
          font-size: 12px;
        }
        .title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 4px 0 8px 0;
        }
        .author {
          width: 100%;
          display: flex;
          align-items: center;
          margin: 8px 0;
          .author-avatar {
            display: inline-block;
            height: 28px;
            width: 28px;
          }
          .author-name {
            display: inline-block;
            margin: 0 0 0 8px;
            a {
              &:hover {
                color: $blue !important;
              }
            }
          }
        }
      }
      &:hover {
        transform: scale(.95);
      }
    }
  }
}
