@import './style_moblie';
@import './style_desktop';

.homepage {
  background-color: #f1f1f1;
  &.dark {
    background-color: #191919;
    * {
      color: #f1f1f1;
    }
  }
}

.home-container {
  width: 100%;
  margin: 0 auto;
  padding: 16px 0 44px 0;
  .home-carousel {
    width: 980px;
    margin: 0 auto;
  }
  .article-list {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    .ArticleList__item {
      background-color: #fff;
      .ArticleList__item--Cover {
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          cursor: pointer;
        }
      }
      .ArticleList__item--Info {
        flex-grow: 1;
        position: relative;
        height: 100px;
        padding: 20px;
        .ArticleList__item--Info__datetime {
          font-size: 13px;
        }
        .ArticleList__item--Info__title {
          margin: 10px 0;
          font-weight: 1000;
          font-size: 20px;
          cursor: pointer;
          a {
            color: #000;
            &:hover {
              color: $red;
            }
          }
        }
        .ArticleList__item--Info__author {
          position: absolute;
          bottom: 20px;
          display: flex;
          align-items: center;
          .ArticleList__item--Info__author-avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
          .ArticleList__item--Info__author-name {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .loadmore {
    margin: 20px auto;
    width: 940px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

