.Article {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  .ArticleList {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    .ArticleList__item {
      background-color: #fff;
      border-radius: 5px;
      .ArticleList__item--Cover {
        img {
          height: 100%;
          width: 100%;
          border-radius: 5px;
          object-fit: cover;
          cursor: pointer;
          transition: height .5s cubic-bezier(0.075, 0.82, 0.165, 1);
          &:hover {
            height: 95%;
          }
        }
      }
      .ArticleList__item--Info {
        flex-grow: 1;
        position: relative;
        height: 220px;
        padding: 20px;
        .ArticleList__item--Info__datetime {
          font-size: 13px;
        }
        .ArticleList__item--Info__title {
          margin: 10px 0;
          font-weight: 1000;
          font-size: 20px;
          cursor: pointer;
          a {
            color: #000;
            &:hover {
              color: $red;
            }
          }
        }
        .ArticleList__item--Info__author {
          position: absolute;
          bottom: 20px;
          display: flex;
          align-items: center;
          .ArticleList__item--Info__author-avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
          .ArticleList__item--Info__author-name {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .Article__LoadMore {
    margin: 20px auto;
    width: 85%;
  }
}

.Article.Desktop {
  .ArticleList {
    max-width: 1200px;
    min-width: 800px;
    .ArticleList__item {
      width: 380px;
      height: 450px;
      margin: 10px;
      .ArticleList__item--Cover {
        height: 240px;
      }
      .ArticleList__item--Info {
        padding: 10px 20px;
        .ArticleList__item--Info__title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .ArticleList__item--Info__desc {
          margin: 10px 0;
          line-height: 1.5;
          height: 75px;
          overflow: hidden;
          color: #717171;
        }
        .ArticleList__item--Info__author {
          position: static;
          a {
            color: #000;
          }
        }
      }
    }
  }
}

.Article.Mobile {
  .ArticleFloatCard {
    background-color: #fff;
    flex-wrap: wrap;
    .ArticleFloatCard__Close {
      position: absolute;
      color: #000;
      right: 0px;
      top: 10px;
      font-size: 20px;
    }
    .ArticleFloatCard__Container {
      max-width: 100%;
      height: 100%;
      padding: 20px 20px 50px 20px;
      margin-top: 30px;
    }
  }
  .ArticleList {
    width: 100%;
    min-width: 100%;
    .ArticleList__item {
      width: 100%;
      height: 300px;
      margin: 5px;
      .ArticleList__item--Cover {
        height: 180px;
        img {
          height: 100%;
        }
      }
      .ArticleList__item--Info {
        .ArticleList__item--Info__desc {
          display: none;
        }
        height: 120px;
        padding: 10px 20px;
        .ArticleList__item--Info__author {
          bottom: 10px;
        }
      }
    }
  }
  .Article__LoadMore {
    width: 94%;
  }
}

.ArticleFloatCard {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba($color: #000000, $alpha: 0.75);
  .ArticleFloatCard__Close {
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    cursor: pointer;
  }
  .ArticleFloatCard__Container {
    width: 1000px;
    .ArticleFloatCard__Container--title {
      position: sticky;
      top: -20px;
      background-color: #fff;
    }
    max-width: 1000px;
    height: 90%;
    padding: 20px 40px;
    background-color: #fff;
    overflow-y: scroll;
    line-height: 2;
    border-radius: 5px;
  }
}