@import '../../../static/styles/index.scss';

/*************** desktop article *******************/
.desktop-article {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  .article-seperator {
    margin-top: 20px;
    height: 2px;
    background-image: linear-gradient(90deg,$gold,$red);
    display: none;
  }
  
  .article-navbar {
    display: none;
    max-width: 960px;
    min-width: 660px;
    margin: 20px auto 10px auto;
    padding: 0;
    overflow-y: hidden;
    position: relative;
    font-size: .8rem;
    ul {
      width: auto;
      white-space: nowrap;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        list-style-type: none;
        margin: 0 10px;
        padding: 0 5px;
        cursor: pointer;
        background-color: $gray-1;
        border-radius: 5px;
        vertical-align: middle;
        color: $gray-8;
      }
      li:hover {
        color: $red;
      }
      li.selected {
        color: $red;
      }
    }
  }
  
  .float-card {
    width: 1000px;
    height: 800px;
    border-radius: 0;
    padding: 20px 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: $gray-2;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    .article-container {
      margin: 0 auto;
      height: 700px;
      overflow-y: scroll;
      line-height: 2;
    }
    .close {
      width: 100%;
      cursor: pointer;
      transition: ease-out .1s;
      font-size: 24px;
      line-height: 26px;
      color: #bfbfbf;
      text-align: right;
      display: flex;
      justify-content: space-between;
      h3 {
        font-size: 22px;
      }
      span {
        &:hover {
          font-size: 24px;
          color: #40a9ff;
        }
      }
    }
  }
  
  .article-list {
    max-width: 1200px;
    min-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    .article {
      width: 380px;
      height: 500px;
      margin: 20px 10px;
      background-color: $gray-1;
      cursor: pointer;
      border-radius: 5px;
      .left {
        width: 100%;
        height: 280px;
        border-radius: 5px;
      }
      .right {
        /*border-top: 1px solid #d9d9d9;*/
        margin: 0 15px;
        padding: 5px 0;
        flex-grow: 1;
        position: relative;
        height: 220px;
        .category {
          background-color: $gray-4;
          padding: 0 10px;
          border-radius: 5px;
          color: $gray-9;
          font-size: 13px;
          font-weight: 700;
        }
        .update-time {
          margin: 0 10px;
          font-size: 13px;
        }
        h3 {
          margin: 10px 0;
          font-weight: 1000;
          font-size: 20px;
        }
        .author {
          position: absolute;
          bottom: 20px;
          .avatar {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: $gray-5;
            vertical-align: middle;
            border-radius: 15px;
          }
          .name {
            margin-left: 10px;
          }
        }
      }
      &:nth-child(1) {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        .left {
          width: 70%;
          height: 100%;
        }
        .right {
          height: 400px;
          padding: 5px 20px;
          h3 {
            margin: 30px 0;
          }
          .content {
            line-height: 2;
          }
        }
      }
    }
  }

  .loadmore {
    cursor: pointer;
    text-align: center;
    width: 99%;
    height: 50px;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nomore {
    color: #d0d0d0;
  }
}

/*************** mobile article *******************/
.mobile-article {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 60px 0;
  font-size: 1rem;
  .article-seperator {
    margin-top: 10px;
    height: 2px;
    background-image: linear-gradient(90deg,$gold,$red);
  }
  .article-navbar {
    margin: 0;
    padding: 0;
    height: 50px;
    overflow-y: hidden;
    position: relative;
    ul {
      width: auto;
      white-space: nowrap;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        list-style-type: none;
        line-height: 50px;
        margin: 0 10px;
      }
      li.selected {
        color: $orange;
      }
    }
  }
  
  .float-card {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $gray-2;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    cursor: text;
    p {
      overflow: hidden;
      line-break: normal;
    }
    .article-container {
      height: 100%;
      padding: 0 0 100px 0;
      overflow-y: scroll;
      overflow-x: hidden;
      line-height: 2;
    }
    .close {
      margin-top: 10px;
      width: 100%;
      cursor: pointer;
      transition: ease-out .1s;
      font-size: 24px;
      line-height: 26px;
      color: #bfbfbf;
      text-align: right;
      display: flex;
      justify-content: space-between;
      h3 {
        font-size: 22px;
      }
      span {
        margin-right: 20px;
      }
    }
  }
  
  .article-list {
    padding: 0 5px;
    .article {
      width: 100%;
      margin-bottom: 10px;
      background-color: $gray-1;
      cursor: pointer;
      border-radius: 5px;
      .left {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        height: 135px;
        border-radius: 5px 0 0 5px;
      }
      .right {
        /*border-top: 1px solid #d9d9d9;*/
        display: inline-block;
        vertical-align: top;
        width: 50%;
        height: 135px;
        padding: 5px 10px;
        font-size: .8rem;
        position: relative;
        border-radius: 5px;
        .category {
          display: block;
          width: fit-content;
          background-color: $gray-4;
          padding: 0 10px;
          border-radius: 5px;
          color: $gray-9;
          font-size: 13px;
          font-weight: 700;
        }
        .update-time {
          display: block;
          margin: 5px;
          color: $gray-6;
          font-size: 12px;
        }
        h3 {
          font-weight: 800;
          margin: 5px;
        }
        .content {
          display: none;
        }
        .author {
          margin: 5px;
          color: $gray-6;
          position: absolute;
          bottom: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          .avatar {
            width: 16px;
            height: 16px;
          }
          .name {
            margin-left: 5px;
          }
        }
      }
    }
  }
  .loadmore {
    cursor: pointer;
    text-align: center;
    height: 50px;
    background-color: $gray-1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nomore {
    color: #d0d0d0;
  }
}