.login-dialog {
  position: fixed;
  width: 400px;
  height: 500px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  text-align: center;
  margin: 120px auto;
  border-radius: 20px;
  background-image: linear-gradient(45deg, #52789f, #7c9cc3);
  color: #fff;
}

.appear {
  opacity: 1;
  animation: myanimate .5s;
}
@keyframes myanimate {
  from {
    position: fixed;
    left: 50%;
    transform: perspective(500px) rotate3d(0,1,0,-90deg) translateX(-50%);
    opacity: 0;
  }
  to {
    position: fixed;
    left: 50%;
    transform: perspective(500px) translateX(-50%);
    opacity: 1;
  }
}

.dispear {
  animation: myanimate2 .5s;
  opacity: 0;
}
@keyframes myanimate2 {
  from {
    position: fixed;
    left: 50%;
    opacity: 1;
    transform: perspective(1000px) translateX(-50%);
  }
  to {
    position: fixed;
    left: 50%;
    transform: perspective(1000px) rotate3d(0,1,0,90deg) translateX(-50%);
    opacity: 0;
    z-index: -1;
  }
}