@import '../../../static/styles/index.scss';

.desktop-navbar {
  width: 100%;
  background-color: transparent;
  margin: 20px auto;
  .desktop-navbar-container {
    max-width: 1200px;
    min-width: 800px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    ul.left {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: fit-content;
      li {
        padding: 0 20px;
        display: inline-block;
        line-height: 50px;
        list-style-type: none;
        color: $gray-8;
        font-size: 20px;
        cursor: pointer;
        text-transform: capitalize;
        transition: all .2s ease-in-out;
        a {
          color: inherit;
          text-decoration: none;
        }
        &:hover {
          background-color: $gray-5;
          color: $gray-12;
          border-radius: 10px;
        }
      }
    }
    .right {
      margin: 0 20px 0 20px;
      display: flex;
      align-items: center;
      .login-button {
        margin: 0 0 0 30px;
        button {
          height: 30px;
          border: none;
          line-height: 30px;
          outline-style: none;
          background-color: $blue;
          padding: 0 15px;
          border-radius: 15px;
          color: $gray-1;
          cursor: pointer;
        }
      }
    }
  }
}