.schedule {
  background-color: #fff;
  height: 100vh;
  border-top: 1px solid #f1f1f1;
  padding: 20px 30px;
}
.schedule-slide {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  z-index: 3;
  border-right: 1px solid #f1f1f1;
  .header {
    position: relative;
    height: 50px;
    .close {
      font-size: 32px;
      position: absolute;
      right: 12px;
      top: 4px;
    }
  }
  .menus {
    .menu-item {
      padding: 12px 0;
      margin: 0 24px;
      text-align: center;
      position: relative;
      color: #555555;
      cursor: pointer;
      &::after {
        width: 100%;
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid #dfdfdf;
      }
    }
  }
}
.schedule-page {
  .header {
    padding: 10px 0;
    h2 {
      display: inline-block;
    }
    span {
      position: relative;
      top: 2px;
      left: 10px;
    }
  }
  .container {
    .todo-item {
      padding: 16px 4px;
      margin: 0;
      color: #333333;
      position: relative;
      cursor: pointer;
      &:hover {
        background-color: #f7f7f7;
      }
      &:after {
        content: "";
        border-bottom: 1px solid #f1f1f1;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
      .check-circle {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid #777;
        border-radius: 50%;
        margin: 0 8px;
        z-index: 2;
        .check {
          height: 18px;
          width: 18px;
          visibility: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: scale(.8);
          z-index: 0;
          svg {
            z-index: 0;
          }
        }
        &:hover {
          .check { visibility: visible; }
        }
      }
      &.todo {
        .check-circle {
          .check { visibility: hidden; }
        }
      }
      &.done {
        color: #999999;
        .check-circle {
          .check { visibility: visible; }
        }
      }
      &.delete {
        text-decoration: line-through;
        color: #999999;
      }
      .date {
        font-size: 12px;
        margin: 8px 36px;
        color: #a1a1a1;
      }
    }
  }
}

.schedule-add {
  padding: 20px 0;
  .container {
    .input {
      display: flex;
      align-items: center;
    }
    span {
      display: inline-block;
      input {
        height: 30px;
        border: none;
        outline: none;
        font-size: 16px;
      }
      &.plus {
        margin: 0 12px;
      }
    }
    .rich-input {
      width: 100%;
      padding: 12px;
      border: 1px solid #a1a1a1;
      border-radius: 4px;
      .text {
        min-height: 30px;
        outline: none;
        margin-bottom: 12px;
        color: #777777;
        &:empty::before {
          content: attr(placeholder);
        }
      }
      .date {
        display: inline-block;
        padding: 4px 8px;
        border: 1px solid #a1a1a1;
        border-radius: 4px;
      }
    }
    .operate {
      padding: 16px 0;
      span {
        padding: 8px 12px;
        text-align: center;
        color: #aaa;
      }
      .confirm {
        background-color: #dd4b39;
        border-radius: 4px;
        color: #fff;
        font-weight: 600;
      }
    }
  }
}

.schedule-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.7);
}