.schedule-page {
  height: calc(100vh - 70px);
  background-color: #fff;
  display: flex;
  justify-content: center;
  .container {
    min-width: 600px;
    .todo-list {
      .today {
        .todo-item {
          padding: 20px 4px;
          margin: 0;
          color: #333333;
          display: flex;
          align-items: center;
          position: relative;
          cursor: pointer;
          &:hover {
            background-color: #f7f7f7;
          }
          &:after {
            content: "";
            border-bottom: 1px solid #f1f1f1;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
          }
          .todo-check {
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid #777;
            border-radius: 50vh;
            margin: 0 8px;
            .check {
              position: relative;
              left: -3px;
              top: -3px;
              visibility: hidden;
            }
            &:hover {
              .check { visibility: visible; }
            }
          }
        }
      }
    }
  }
}