.schedule {
  background-color: #fff;
  height: calc(100vh - 50px);
  border-top: 1px solid #f1f1f1;
  padding: 20px 30px;
}
.schedule-slide {
  width: 200px;
  height: calc(100vh - 50px);
  position: fixed;
  top: 50px;
  left: 0;
  background-color: #f1f1f1;
  z-index: 3;
  border-right: 1px solid #f1f1f1;
  .header {
    position: relative;
    height: 50px;
    .close {
      font-size: 24px;
      position: absolute;
      right: 12px;
      top: 4px;
    }
  }
  .menus {
    .menu-item {
      padding: 12px 0;
      margin: 0 24px;
      text-align: center;
      position: relative;
      color: #555555;
      cursor: pointer;
      &::after {
        width: 100%;
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid #dfdfdf;
      }
    }
  }
}
.schedule-page {
  .header {
    padding: 10px 0;
  }
  .container {
    .todo-item {
      padding: 16px 4px;
      margin: 0;
      color: #333333;
      position: relative;
      cursor: pointer;
      &:hover {
        background-color: #f7f7f7;
      }
      &:after {
        content: "";
        border-bottom: 1px solid #f1f1f1;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
      .check-circle {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid #777;
        border-radius: 50%;
        margin: 0 8px;
        z-index: 2;
        .check {
          height: 18px;
          width: 18px;
          visibility: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: scale(.8);
          z-index: 0;
          svg {
            z-index: 0;
          }
        }
        &:hover {
          .check { visibility: visible; }
        }
      }
      &.done {
        color: #999999;
        .check-circle {
          .check { visibility: visible; }
        }
      }
      &.delete {
        text-decoration: line-through;
        color: #999999;
      }
      .date {
        font-size: 12px;
        margin: 8px 36px;
        color: #a1a1a1;
      }
    }
  }
}