<div class="navbar-container">
    <div class="navbar">
        <ul>
            <li><a href="/"><%= theme.title.toUpperCase() %></a></li>
            <li><a href="/">首页</a></li>
            <li><a href='/categories'><%= __('navbar.cate').toUpperCase() %></a></li>
            <li><a href="/tags"><%= __('navbar.tags').toUpperCase() %></a></li>
            <li><a href="/about"><%= __('navbar.about').toUpperCase() %></a></li>
        </ul>
    </div>
</div>