<div class="widgets">
    <div class="self-info">
        <h2>About Me</h2>
        <div class="infos">
            <img src="/favicon.ico">
            <span>
                <p>Kevin Jobs</p>
                <p>a nameless man</p>
            </span>
        </div>
        <div class="methods">
            <a href="https://github.com/kevinjobs" title="Github">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-github"></use>
                </svg>
            </a>
            <a href="">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-zhihu"></use>
                </svg>
            </a>
            <a href="">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-weibo"></use>
                </svg>
            </a>
        </div>
    </div>
</div>