@import './static/styles/index.scss';

/********************************************/
.App {
  width: 100%;
}
.top {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  min-height: 700px;
  background-color: transparent;
}

.foot {
  height: 100px;
  width: 100%;
  margin-top: 50px;
  background-color: #262626;
}