.wiki-page {
  .container {
    display: flex;
    background-color: #fff;
    .left-panel {
      width: 300px;
      min-height: calc(100vh - 90px);
      margin: 10px;
      border: 1px solid #aaa;
      border-radius: 8px;
    }
    .content {
      width: 100%;
      min-height: calc(100vh - 90px);
      margin: 10px;
      border: 1px solid #aaa;
      border-radius: 8px;
    }
  }
}