.wiki-page {
  .container {
    display: flex;
    background-color: #f4f4f4;
    .left-panel {
      min-height: calc(100vh - 65px);
      padding: 24px;
      background-color: #fff;
      box-shadow: 4px 0 4px #d1d1d1;
      .header {
        margin: 0 0 16px 0;
      }
      .menus {
        width: 200px;
      }
    }
    .content {
      width: 100%;
      height: calc(100vh - 90px);
      margin: 10px;
      padding: 16px 24px;
      overflow-y: scroll;
      // border: 1px solid #aaa;
      // border-radius: 8px;
    }
  }
}

