$radius: 25px;
// domain.com/admin
.Admin {
  display: flex;
}

.Admin-NavPanel {
  flex-grow: 0;
  min-width: 280px;
  min-height: 800px;
  margin: 20px 0 0 20px;
  .Admin-NavPanel__Header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Admin-NavPanel__Container {
    background-color: #fff;
    border-radius: $radius;
    min-height: 700px;
    .Admin-NavPanel__Container--Menus {
      ul {
        list-style: none;
        width: 100%;
        text-align: center;
        li {
          font-size: 18px;
          cursor: pointer;
          a {
            text-decoration: none;
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 10px 0;
            color: #333;
            &:hover {
              background-color: #f1f1f1;
            }
          }
          a.active {
            background-color: #333;
            color: #f1f1f1;
          }
          &:nth-child(1) {
            a {
              border-radius: $radius $radius 0 0;
            }
          }
        }
      }
    }
  }
}

.Admin-Article {
  flex-grow: 1;
  min-height: 800px;
  padding: 20px 20px 0 20px;
  display: flex;
  flex-wrap: nowrap;
  .Admin-Article__Left {
    width: 500px;
    .Admin-Article__Left--Newlist {
      width: 100%;
      height: 200px;
      .Admin-Article__Left--Newlist__latest {
        .Admin-Article__Left--Newlist__latest--header {
          padding: 20px;
          height: 70px;
        }
        .Admin-Article__Left--Newlist__latest--container {
          display: flex;
          height: 200px;
          box-shadow:  33px 33px 66px #cecece, -10px -10px 10px #ffffff;
          border-radius: $radius;
          background-color: #fff;
          .cover {
            width: 350px;
            img {
              border-radius: $radius 0 0 $radius;
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
          .info {
            padding: 20px;
            .item {
              margin: 10px 0;
            }
            .item.id {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .Admin-Article__Right {
    padding: 0 20px 0 0;
    flex-grow: 1;
    .header {
      padding: 20px 40px;
      height: 70px;
    }
    .Admin-Article__Right--PostList {
      width: 100%;
      min-width: 700px;
      height: 700px;
      margin: 0 20px;
      padding: 40px 60px;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;
      background-color: #fff;
      box-shadow:  33px 33px 66px #cecece, -0px -0px 0px #ffffff;
      border-radius: $radius;
      overflow-y: scroll;
      .items {
        width: 100%;
        .item {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding: 10px 0;
          cursor: pointer;
          &:nth-child(2n+1) {
            background-color: #f1f1f1;
          }
          &:hover {
            background-color: #cccccc;
          }
          .left {
            text-align: center;
            flex-grow: 1;
            span {
              font-size: 14px;
              color: #717171;
            }
          }
          .right {
            min-width: 200px;
          }
        }
      }
      .prev-next {
        margin: 20px auto;
        height: 50px;
      }
    }
  }
}

// article editor
.Admin-ArticleEditor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba($color: #000000, $alpha: 0.75);
  .Admin-ArticleEditor__Container {
    min-width: 1000px;
    width: 80%;
    height: 90%;
    padding: 60px;
    background-color: #fff;
    border-radius: $radius;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    label {
      width: 100px;
      padding: 0 10px;
      display: inline-block;
      text-align: right;
    }
    input {
      margin: 5px;
      padding: 5px 15px;
      font-size: 15px;
      border: none;
      background-color: #f1f1f1;
      &:hover {
        opacity: .65;
      }
      &:focus {
        outline: none;
      }
      &:active {
        // outline: 3px solid rgba($color: #fff, $alpha: .65);
        box-shadow: 0 0 0 5px rgba($color: #fff, $alpha: .25);
      }
    }
    .Left {
      width: 800px;
      padding: 0 25px;
      .form__item {
        width: 350px;
        margin: 10px 0;
        display: flex;
        align-items: center;
        width: 100%;
        input {
          width: 600px;
          background-color: transparent;
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
    .Right {
      width: 350px;
      .form__item {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        label { width: 100px; }
        input { flex-grow: 1; }
      }
      .Operation {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px 0;
      }
    }
  }
}