@import '../../static/styles/index.scss';

.admin-image__edit {
  form {
    .admin-image__edit--item {
      margin: 20px 0;
    }
    label {
      display: inline-block;
      width: 100px;
      text-align: right;
      margin-left: 50px;
    }
    input {
      border: none;
      border-bottom: 1px dashed $gray-8;
      margin: 5px 0;
      margin-left: 10px;
      padding: 0 10px;
      outline: none;
    }
    .admin-image__edit--preview {
      width: 100%;
      height: 200px;
      display: flex;
      img {
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        margin-left: 10px;
      }
    }
  }
}