.post-glance {
  position: relative;
  padding: 16px 0;
  a { color: #555555; &:hover { color: #333333 }}
  .author {
    display: flex;
    align-items: center;
    margin: 10px 0;
    span.username { width: 40px; height: 40px; margin-right: 10px; }
    span { color: #717171; }
  }
  .item-edit {
    height: 20px;
    width: 100%;
    margin: 15px 0 0 0;
    .item-edit__item {
      display: inline-block;
      transform: scale(.9);
      opacity: .7;
      margin: 0 10px;
      cursor: pointer;
      &:hover { color: #777777 !important; }
    }
  }
  .cover {
    width: 180px;
    height: 110px;
    position: absolute;
    right: 0px;
    top: 16px;
    img { width: 100%; height: 100%; object-fit: cover; }
  }
}
.post-glance::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  border-bottom: 1px solid #e1e1e1;
  content: "";
}

// article editor
.PostEditor {
  padding: 10px 50px;
  .container {
    display: flex;
    label {
      width: 100px;
      padding: 0 10px;
      display: inline-block;
      text-align: right;
    }
    input {
      padding: 5px 15px;
      font-size: 15px;
      border: none;
      background-color: #f1f1f1;
      &:hover {
        opacity: .65;
      }
      &:focus {
        outline: none;
      }
      &:active {
        // outline: 3px solid rgba($color: #fff, $alpha: .65);
        box-shadow: 0 0 0 5px rgba($color: #fff, $alpha: .25);
      }
    }
    .title-and-content {
      flex-grow: 1;
      .header {
        width: 100%;
        margin: 10px 0;
        display: flex;
        align-items: center;
        width: 100%;
        input {
          width: 100%;
          background-color: transparent;
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
    .other-infos {
      padding-top: 70px;
      .form__item {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin: 10px 0;
        label { width: 100px; color: #a1a1a1; }
        input { width: 200px; }
      }
      .operation {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px 0;
      }
    }
  }
}

// markdown editor textarea font size
.rc-md-editor .editor-container .sec-md .input {
  font-size: 18px !important;
}

.partial {
  &-article-header {
    margin-bottom: 20px;
  }
  &-article-datetime {
    font-size: 14px;
    color: #a1a1a1;
    margin: 5px 0;
  }
  &-article-author {
    color: #777;
    a {
      color: #000;
      &:hover {
        color: $primary;
      }
    }
  }
  &-article-author-icon {
    margin-right: 10px;
    color: inherit;
  }
  &-article-content {
    line-height: 2;
    p {
      margin: 12px 0;
      color: #555555;
    }
  }
  &-article-content-image {
    width: fit-content !important;
    max-width: 80%;
    margin: 15px auto 0 auto !important;
    border-radius: 2px !important;
    img {
      width: 100% !important;
      border-radius: 2px !important;
    }
  }
  &-article-content-image-alt {
    color: #999999;
    text-align: center;
  }
}